.searchpage {
    text-align: center;
}

.citysubmit {
    margin-top: 5rem;
}

.select_city {
    width: 60%;
    padding: 20px;
    height: 500px;
    margin-left: 25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}