/* .your__container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-top: 5rem;
    margin-left: 10rem;
    padding: 1rem 1rem 1rem .5rem;
    background-color: rgb(230, 230, 230);
    list-style-type: none;
    overflow: hidden;
}

.saved__container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-top: 5rem;
    margin-right: 10rem;
    padding: 1rem 1rem 1rem .5rem;
    background-color: rgb(230, 230, 230);
    list-style-type: none;
    overflow: hidden;
}

.your__header {
    display: flex;
    justify-content: space-between;
}

.your_guides {
    padding-left: 1rem;
    width: 100% !important;
}

.title {
    font-size: 18px;
}

.guides {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.guide_list {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.guide_header {
    margin-left: 2.5rem;
}

.guiderow {
    display: flex;
    width: 50% !important;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.guide_details {
    margin-left: 5rem;
    width: 40%;
}

.guiderow__title-delete {
    width: 20%;
}

.favorites {
    display: flex;
    margin-top: 3rem;
    color: #FFD700;
}

.favorites_count {
    color: #696969;
    margin-left: .5rem;
}

.guide_link {
    width: 40%;
}

.guide_image {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.single_guide {
    width: 100%;
} */
