.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 0;
    overflow: hidden;
    background-color: #5F9EA0;
    z-index: 1;
    width: 100%;
}

.left_nav {
    display: flex;
}

.right_nav {
    display: flex;
}

.logo {
    margin-left: 2rem;
}

.navbar__login {
    padding-right: 2rem;
}

.navbar__register {
    padding-right: 1rem;
}

.navbar__profile {
    padding-right: 2rem;
}

.navbar__search {
    margin-top: 1rem;
    width: 100%;
}

#city_search {
    font-size: 18px;
    padding-left: .5rem;
    height: 2rem;
    width: 100%;
}

.profile_image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}


.navbar__link {
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: solid white 1px;
}

.navbar__link:hover {
    background-color: bisque;
}

.sidenavbar {
    background-color: lightgray;
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 1.5rem;
    min-width: 160px;
    overflow: hidden;
}

.sidenav_button {
    background-color: #5F9EA0;
    margin-top: .5rem;
    margin-left: .5rem;
    color: LightBlue;
    font-size: 56px;
    height: 57px;
    width: 67px;
    border: none;
    cursor: pointer;
}

.sidenav_button:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.sidenav_link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sidenavbar a:hover {
    background-color: gray;
}

.profile_button {
    background-color: #5F9EA0;
    border-radius: 50%;
    color: rgb(112, 112, 112);
    font-size: 16px;
    margin-right: 5rem;
    margin-top: .2rem;
    height: 60px;
    width: 50px;
    border: none;
    cursor: pointer;
}

.profile__dropdown {
    width: 150px;
}

.dropbtn {
    background-color: #5F9EA0;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown {
    background-color: lightgray;
    position: absolute;
    z-index: 1;
    top: 5rem;
    right: 1.5rem;
    min-width: 160px;
    overflow: hidden;
}

.dropdown-content {
    display: none;
}


.profile_link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: gray;
}

.company {
    margin-left: 1rem;
}

.searchpage {
    margin-right: 7rem;
    margin-bottom: 5rem;
}

.city_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10rem;
    padding-left: 0;
}

.citylist_item {
    background-color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.city_submit {
    width: 20%;
    margin-left: 25rem;
    margin-top: 10rem;
    background-color: white;
}

.form-control {
    background-color: white;
}